{
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion":6,
    "sourceType": "module"
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      0
    ],
    "no-console": [
      "off"
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true
      }
    ],
    "no-underscore-dangle": ["error", {"allowAfterThis": true}],
    "import/extensions": ["off"]
  }
}
