# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
server/.nyc_output

# production
build

npm-debug.log*

*.css

.idea/*
database.json*
.nyc_output